@model IEnumerable<Model_Library.Models.Objectmodel>
@using Model_Library.Models;
@using Model_Library.Resources;
@{
    List<Objectmodel> objs = ViewBag.User;
}

<section>
@foreach (Objectmodel obj in objs)
{
    <div>
        <p>@obj.ObjectName</p>
        <img src="data:image/png;base64,@obj.ObjectImage" width="200" height="200" />
        <p>@Resource.Created_Time:@obj.ReleaseDate.Split('_')[0]</p>
        <p>@Resource.Introduction:@obj.ObjectIntroduction</p>
        <form action="~/Object/ObjectDetail" method="get">
            <button name="ObjectName" value="@obj.ObjectName" class="u-active-none u-align-center u-border-1 u-border-active-palette-4-dark-1 u-border-black u-border-hover-palette-4-dark-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-3">@Resource.More_Detail</button>
            <input name="ReleaseDate" value="@obj.ReleaseDate" type="hidden">
            <input name="Author" value="@obj.Author" type="hidden">
        </form>
        <br>
        <br>
    </div>
}
    </section>